.sass-test{
    height: 100px;
    background-color: aquamarine;
    p{
        text-align:center;
        color:orange;
    }
}
.study{
    color: rebeccapurple;
    width: 100px;
    height: 200px;
    background: orange url('../../images/loseHand.jpg') no-repeat center/cover;

}